@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  height: 100vh;
  color: #333 !important;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  display: flex;
  align-items: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(200px);
  width: 506px;
  padding: 50px 0 80px;
  margin: 25px auto;
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 25%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 30px 0 15px 0;
  letter-spacing: 1px;
}

.board {
  display: flex;
  width: 306px;
  height: 306px;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.square {
  width: 98px;
  height: 98px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 2px;
  font-size: 50px;
  line-height: 98px;
  cursor: pointer !important;
}

.square:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
}

button {
  border-radius: 5px;
  width: 100px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border: none;
  color: #fff;
  background-color: #c7365f;
  letter-spacing: 2px;
}

button:hover {
  background-color: #fff;
  color: #c7365f;
  cursor: pointer;
  box-shadow: none;
}

.player-one {
  color: rgb(235, 106, 106);
}

.player-two {
  color: rgb(84, 146, 228);
}

.message {
  text-align: center;
  color: #fff;
}

.game-over {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin: 30px 0;
}

.reset-button {
  text-align: center;
  margin-top: 10px;
}
